<div class="chart" style="display: block;">
  <canvas baseChart width="900" height="500"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="{ responsive: true }"
          [colors]="lineChartColors"
          [legend]="true"
          [chartType]="'line'"
          [plugins]="[]">
  </canvas>
</div>
