@top-margin: 20px;

.container {
  margin: @top-margin 60px;
  min-height: calc(100vh - 2 * @top-margin);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.25);
  background: #d3d3d338;
  border-radius: 7px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
