<form class="form" [formGroup]="form">
  <label> Company Symbol <input type="text"formControlName="symbol" > </label>
  <label> Start Date <input type="text" formControlName="start_date" appDatepicker (dateChange)="startDateChange($event)"> </label>
  <label> End Date <input type="text" formControlName="end_date" appDatepicker (dateChange)="endDateChange($event)"> </label>
  <label> Email <input type="email" formControlName="email"> </label>

  <input type="submit" class="form__button--submit" value="Submit" (click)="submitForm()">
</form>

