.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin-bottom: 20px;

  label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  input.ng-touched.ng-invalid {
    border: 1px solid red;
  }

  &__button--submit {
    margin: 10px auto 0;
    width: 150px;
    height: 40px;
    cursor: pointer;
  }
}
