:host {
  max-height: 500px;
  overflow-y: scroll;
}
.table {
  width: 900px;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__cell {
    height: 20px;
    width: 148px;
    background: #696969bd;
    color: white;
    text-align: center;
    border-radius: 3px;
  }
}
