<table class="table">
  <thead class="table__head">
    <tr class="table__row">
      <th *ngFor="let header of tableHeaders; let i = index; trackBy: trackByFn" class="table__cell">{{header}}</th>
    </tr>
  </thead>
  <tbody class="table__body">
    <tr *ngFor="let row of tableData; let i = index; trackBy: trackByFn" class="table__row">
      <td class="table__cell">{{row.date}}</td>
      <td class="table__cell">{{row.open}}</td>
      <td class="table__cell">{{row.high}}</td>
      <td class="table__cell">{{row.low}}</td>
      <td class="table__cell">{{row.close}}</td>
      <td class="table__cell">{{row.volume}}</td>
    </tr>
  </tbody>
</table>
